# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
ios/Flutter/.last_build_id

# LunaSea
output/
*.packages
coverage/

# XCode Build Artifacts
ios/build/
ios/Runner.app.dSYM.zip
ios/Runner.ipa

macos/LunaSea.app
macos/LunaSea.app.dSYM.zip
macos/LunaSea.pkg

# Fastlane
/android/fastlane/README.md
/android/fastlane/report.xml
/ios/fastlane/README.md
/ios/fastlane/report.xml
/macos/fastlane/README.md
/macos/fastlane/report.xml

# Blackbox
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/android/key.properties
/android/app/google-services.json
/android/key.jks
/ios/GoogleService-Info.plist
/macos/GoogleService-Info.plist
/vendor/font_awesome_flutter/lib/fonts/fa-thin-100.ttf
/ios/fastlane/Auth.p8
/macos/fastlane/Auth.p8
