[Desktop Entry]
Name=LunaSea
Comment=Self-hosted software controller built using Flutter
Icon=/usr/share/icons/lunasea.png
Terminal=false
Type=Application
Categories=Utilities;Entertainment;
Exec=/usr/bin/lunasea
TryExec=/usr/bin/lunasea
