name: '[Build] Android'

on:
  workflow_dispatch:
    inputs:
      flavor:
        type: choice
        required: true
        description: 'Build Flavor?'
        options: 
        - 'alpha'
        - 'beta'
        - 'production'

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          ref: 'master'
          fetch-depth: 0

      - name: Set Flavor
        working-directory: ${{ github.workspace }}
        run: |
          echo "FLAVOR=${{ github.event.inputs.flavor }}" > .flavor
  
      - name: Install Secret Keys
        run: |
          echo ${{ secrets.GOOGLE_SERVICES_JSON }} | base64 --decode > android/app/google-services.json
          echo ${{ secrets.KEY_JKS }} | base64 --decode > android/key.jks
          echo ${{ secrets.KEY_PROPERTIES }} | base64 --decode > android/key.properties
          echo ${{ secrets.GOOGLE_PLAY_API }} | base64 --decode > .fastlane-android-auth.json

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7.5'

      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: '12.x'

      - name: Install Flutter
        uses: subosito/flutter-action@v2.0.3
        with:
          channel: 'beta'

      - name: Setup Flutter
        working-directory: ${{ github.workspace }}
        run: |
          flutter pub get
          flutter packages pub run build_runner build

      - name: Run Fastlane
        working-directory: ${{ github.workspace }}/android
        env:
          SUPPLY_JSON_KEY: ${{ github.workspace }}/.fastlane-android-auth.json
        run: |
          bundle install
          bundle exec fastlane alpha
