name: Clear Flutter Cache

on:
  workflow_dispatch

jobs:
  clear:
    name: Clear Cache
    runs-on: ubuntu-latest
    steps:
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: beta
          cache: true
          cache-key: ${{ github.sha }}

      - name: Flutter Doctor
        working-directory: ${{ github.workspace }}
        run: flutter doctor -v
